<div class="modal fade" id="deleteSottoscrittoreAttoConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <form name="deleteForm" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                            ng-click="clear()">&times;</button>
                    <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                </div>
                <div class="modal-body">
                    <p translate="cifra2gestattiApp.sottoscrittoreAtto.delete.question" translate-values="{nome: '{{sottoscrittoreAtto.profilo.utente.nome}}', cognome:'{{sottoscrittoreAtto.profilo.utente.cognome}}'}">Are you sure you want to delete this SottoscrittoreAtto?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"  >
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="button" ng-disabled="deleteForm.$invalid" class="btn btn-danger" ng-click="confirmDeleteSottoscrittore(sottoscrittoreAtto.id)">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>