<div>
<h2 translate="cifra2gestattiApp.utente.myself.title">Dati Personali</h2>
                         <div class="form-group">
            
                        <div class="form-group col-sm-6">
                            <label translate="cifra2gestattiApp.utente.cognome">Cognome</label>  
                            <input type="text" class="form-control" name="cognome"
                                   ng-model="utente.cognome" ng-disabled="ngDisabled"  required>

                            <div ng-show="editForm.cognome.$invalid">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label translate="cifra2gestattiApp.utente.nome">Nome</label>
                            <input type="text" class="form-control" name="nome"
                                   ng-model="utente.nome" ng-disabled="ngDisabled" required>

                            <div ng-show="editForm.nome.$invalid">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label translate="cifra2gestattiApp.utente.username">Username</label>
                            <input type="text" class="form-control" name="username"
                                   ng-model="utente.username" ng-disabled="true" required>

                            <div ng-show="editForm.username.$invalid">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label translate="cifra2gestattiApp.utente.codicefiscale">Codicefiscale</label>
                            <input type="text" class="form-control" name="codicefiscale"
                                   ng-model="utente.codicefiscale" ng-disabled="ngDisabled" required>

                            <div ng-show="editForm.codicefiscale.$invalid">
                            </div>
                        </div>
                      </div>
                        <validita-form ng-if="!ngDisabled" ng-model="utente.validita" ></validita-form>

                        <div class="form-group">
                            <div class="form-group col-sm-6">
                                <label translate="cifra2gestattiApp.utente.telefono">Telefono</label>
                                <input type="text" class="form-control" name="telefono"
                                       ng-model="utente.telefono"  ng-disabled="ngDisabled">

                                <div ng-show="editForm.telefono.$invalid">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label translate="cifra2gestattiApp.utente.altrorecapito">Altrorecapito</label>
                                <input type="text" class="form-control" name="altrorecapito"
                                       ng-model="utente.altrorecapito"  ng-disabled="ngDisabled">

                                <div ng-show="editForm.altrorecapito.$invalid">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label translate="cifra2gestattiApp.utente.fax">Fax</label>
                                <input type="text" class="form-control" name="fax"
                                       ng-model="utente.fax"  ng-disabled="ngDisabled">

                                <div ng-show="editForm.fax.$invalid">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label translate="cifra2gestattiApp.utente.email">Email</label>
                                <input type="email" class="form-control" name="email"
                                       ng-model="utente.email"  ng-disabled="ngDisabled" required>
                                
                                <div ng-show="editForm.email.$invalid">
                                </div>
                            </div>
                            </div>
                        

                          <div class="form-group">
                            </div>

                        <indirizzo-select span="12" ng-model="utente.indirizzo"></indirizzo-select>
                        
                        <span ng-show="showSuccessSave == true" class="col-md-12 alert alert-success" translate="cifra2gestattiApp.utente.savingsuccess">Salvataggio effettuato</span>
                        
                        <input class="btn btn-primary" type="submit" ng-click="save()" ng-disabled="editForm.$invalid" value="Salva">
</div>