<div>

    <h2 translate="cifra2gestattiApp.sottoscrittoreAtto.home.title">SottoscrittoreAtto</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveSottoscrittoreAttoModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.sottoscrittoreAtto.home.createLabel">Create a new SottoscrittoreAtto</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveSottoscrittoreAttoModal" tabindex="-1" role="dialog" aria-labelledby="mySottoscrittoreAttoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySottoscrittoreAttoLabel" translate="cifra2gestattiApp.sottoscrittoreAtto.home.createOrEditLabel">Create or edit a SottoscrittoreAtto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="sottoscrittoreAtto.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.sottoscrittoreAtto.editor">Editor</label>
                            <input type="checkbox" class="form-control" name="editor"
                                   ng-model="sottoscrittoreAtto.editor">

                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.sottoscrittoreAtto.Atto">Atto</label>
                            <select class="form-control" name="Atto" ng-model="sottoscrittoreAtto.atto.id" ng-options="atto.id as atto.id for atto in attos">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.sottoscrittoreAtto.Profilo">Profilo</label>
                            <select class="form-control" name="Profilo" ng-model="sottoscrittoreAtto.profilo.id" ng-options="profilo.id as profilo.id for profilo in profilos">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSottoscrittoreAttoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(sottoscrittoreAtto.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.sottoscrittoreAtto.delete.question" translate-values="{nome: '{{sottoscrittoreAtto.profilo.utente.nome}}', cognome:'{{sottoscrittoreAtto.profilo.utente.cognome}}'}">Are you sure you want to delete this SottoscrittoreAtto?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.sottoscrittoreAtto.editor">Editor</th>
	                    <th translate="cifra2gestattiApp.sottoscrittoreAtto.Atto">Atto</th>
	                    <th translate="cifra2gestattiApp.sottoscrittoreAtto.Profilo">Profilo</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="sottoscrittoreAtto in sottoscrittoreAttos">
	                    <td><a ui-sref="sottoscrittoreAttoDetail({id:sottoscrittoreAtto.id})">{{sottoscrittoreAtto.id}}</a></td>
	                    <td>{{sottoscrittoreAtto.editor}}</td>
	                    <td>{{sottoscrittoreAtto.Atto.id}}</td>
	                    <td>{{sottoscrittoreAtto.Profilo.id}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="sottoscrittoreAttoDetail({id:sottoscrittoreAtto.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(sottoscrittoreAtto.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(sottoscrittoreAtto.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
