<div>

    <h2 translate="cifra2gestattiApp.tipoRichiestaHD.home.title">TipoRichiestaHDs</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTipoRichiestaHDModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.tipoRichiestaHD.home.createLabel">Create a new TipoRichiestaHD</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTipoRichiestaHDModal" tabindex="-1" role="dialog" aria-labelledby="myTipoRichiestaHDLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTipoRichiestaHDLabel" translate="cifra2gestattiApp.tipoRichiestaHD.home.createOrEditLabel">Create or edit a TipoRichiestaHD</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tipoRichiestaHD.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Descrizione</label> *
                            <input required type="text" class="form-control" name="descrizione"
                                   ng-model="tipoRichiestaHD.descrizione" ng-maxlength="100">

                            <div ng-show="editForm.descrizione.$invalid">
                                <p class="help-block"
                                   ng-show="editForm.descrizione.$error.maxlength" translate-value-max="100">
                                    This field cannot be longer than 100 characters.
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTipoRichiestaHDConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tipoRichiestaHD.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.tipoRichiestaHD.delete.question" translate-values="{id: '{{tipoRichiestaHD.id}}'}">Are you sure you want to delete this TipoRichiestaHD?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.tipoRichiestaHD.descrizione">Descrizione</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="tipoRichiestaHD in tipoRichiestaHDs">
	                    <td><a ui-sref="tipoRichiestaHDDetail({id:tipoRichiestaHD.id})">{{tipoRichiestaHD.id}}</a></td>
	                    <td>{{tipoRichiestaHD.descrizione}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="tipoRichiestaHDDetail({id:tipoRichiestaHD.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(tipoRichiestaHD.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="disable(tipoRichiestaHD.id)"
	                                class="btn btn-warning btn-sm"
	                                ng-show="tipoRichiestaHD.enabled">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable"> Disable</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="enable(tipoRichiestaHD.id)"
	                                class="btn btn-success btn-sm"
	                                ng-hide="tipoRichiestaHD.enabled">
	                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.enable"> Enable</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="tipoRichiestaHDs && tipoRichiestaHDs.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
