<div class="container-fluid">

	<h2 translate="cifra2gestattiApp.modelloHtml.home.title">ModelloHtml</h2>

    <div  ng-if="editing" >
        <form name="editForm" role="form" validate ng-submit="save()">
       		<div class="form-group col-sm-6 ">
				<div class="form-group">
	                <label translate="cifra2gestattiApp.modelloHtml.titolo">Titolo</label> *
	                   <input type="text" class="form-control" name="titolo" ng-model="modelloHtml.titolo" required>
				</div>
				<div class="form-group">
					<label translate="cifra2gestattiApp.modelloHtml.TipoDocumento">TipoDocumento</label> *
					
					<select class="form-control" name="TipoDocumento" ng-model="modelloHtml.tipoDocumento.id" ng-options="tipoDocumento.id as tipoDocumento.descrizione for tipoDocumento in tipoDocumentos" required>
					</select>
				</div>
				<label translate="cifra2gestattiApp.modelloHtml.TipoOrientamentoLabel">TipoOrientamento</label>
				<div class="form-group">
					<label class="radio-inline">
						<input type="radio" ng-model="modelloHtml.pageOrientation" ng-value="false">
						<span translate="cifra2gestattiApp.modelloHtml.tipoOrientamento.Portrait">Portrait</span>
					</label>
					<label class="radio-inline">
						<input type="radio" ng-model="modelloHtml.pageOrientation" ng-value="true">
						<span translate="cifra2gestattiApp.modelloHtml.tipoOrientamento.Landscape">Landscape</span>
					</label>
				</div>
	
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()">
				    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.back">Back</span>
				</button>
				
				<a target="_blank" href="/api/preview/{{modelloHtml.id}}/test/{{modelloHtml.tipoDocumento.codice}}.pdf?access_token={{access_token}}" ng-disabled="editForm.$invalid || modelloHtml.id == null" class="btn btn-primary">
				    <span class="glyphicon glyphicon-save"></span>&nbsp;<span  >Test</span>
				</a>
				                
				<a target="_blank" href="/api/omissis/{{modelloHtml.id}}/test/{{modelloHtml.tipoDocumento.codice}}.pdf?access_token={{access_token}}" ng-disabled="editForm.$invalid || modelloHtml.id == null" class="btn btn-primary">
				    <span class="glyphicon glyphicon-save"></span>&nbsp;<span  >Test omissis</span>
				</a>
				
				<!-- <a target="_blank" href="/api/previewword/{{modelloHtml.id}}/test/{{modelloHtml.tipoDocumento.codice}}.docx?access_token={{access_token}}" ng-disabled="editForm.$invalid || modelloHtml.id == null" class="btn btn-primary">
				    <span class="glyphicon glyphicon-save"></span>&nbsp;<span  >Test Word</span>
				</a> -->
				                
				<button type="submit" class="btn btn-primary">
				    <span class="glyphicon glyphicon-reset"></span>&nbsp;<span translate="entity.action.save">Save</span>
				</button>
            </div>
            <div class="form-group col-sm-6 ">
                   <summernote config="options" on-init="init()" 
                   class="form-control " name="html" ng-model="modelloHtml.html" required></summernote> 
           </div>
        </form>
    </div>


    <div class="modal fade" id="deleteModelloHtmlConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(modelloHtml.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.modelloHtml.delete.question" translate-values="{id: '{{modelloHtml.id}}'}">Are you sure you want to delete this ModelloHtml?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!-- NON PREVISTO -->

    <div ng-if="!editing">
        <button class="btn btn-primary"  ng-click="newModelloHtml()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.modelloHtml.home.createLabel">Create a new ModelloHtml</span>
        </button>
        <!--<button class="btn btn-danger"  ng-click="populateModelloHtml()">
            <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.modelloHtml.home.populate">Populate ModelloHtml</span>
        </button>  
		
		<div class="dropdown pull-right">
			<button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						Crea Modello Base Documento <span class="caret"></span>
			</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					<li
						ng-repeat="tipoDocumento in tipoDocumentos">
						<a ng-click="populateModelloHtml(tipoDocumento.codice)">
						 <i class="fa fa-file-pdf-o"></i>&nbsp;<span>{{tipoDocumento.descrizione}}</span>
					</a>
					</li>
				</ul>
		</div>-->
		
    </div>

	<div>
	    <div class="table-responsive crud-search"  ng-if="!editing">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.modelloHtml.titolo">Titolo</th>
	                    <th translate="cifra2gestattiApp.modelloHtml.TipoDocumento">TipoDocumento</th>
	                    <th></th>
	                </tr>
	                <tr>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.titolo"></th>
			           <th>
			           		<ui-select ng-model="tempSearch.tipoDocumento" theme="bootstrap">
		                    	<ui-select-match allow-clear="true">{{$select.selected.descrizione}}</ui-select-match>
		                    	<ui-select-choices repeat="cur in tipoDocumentos | filter: $select.search track by $index">
		                            <div ng-bind-html="cur.descrizione | highlight: $select.search"></div>
		                    	</ui-select-choices>
	                      	</ui-select>
			           	</th>
			           <th><button class="btn btn-primary btn-sm" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-sm" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="modelloHtml in modelloHtmls">
	                    <td><a ui-sref="modelloHtmlDetail({id:modelloHtml.id})">{{modelloHtml.id}}</a></td>
	                    <td>{{modelloHtml.titolo}}</td>
	                    <td>{{modelloHtml.tipoDocumento.descrizione}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="modelloHtmlDetail({id:modelloHtml.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(modelloHtml.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(modelloHtml.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                        <a  href="/api/preview/{{modelloHtml.id}}/test/{{modelloHtml.tipoDocumento.codice}}.pdf?access_token={{access_token}}"
	                        	target="_blank"
	                        	class="btn btn-default btn-sm">
	                            <span class="glyphicon glyphicon glyphicon-eye-open"></span>&nbsp;<span >Test</span>
	                        </a>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="modelloHtmls && modelloHtmls.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
