<div>

    <h2 translate="cifra2gestattiApp.versioneComposizioneConsiglio.home.title">Versione Composizione Consiglio</h2>

    <div class="container" ng-if="!editing">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveVersioneComposizioneConsiglioModal" ng-click="clear(); nuovaVersione();">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.versioneComposizioneConsiglio.home.createLabel">Create a new</span>
                </button>
            </div>
        </div>
    </div>

	<div class="modal fade" id="operationNotPermitted">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                           ng-click="clear()">&times;</button>
                   <h4 class="modal-title" translate="entity.modify.notPermitted">Operation not permitted</h4>
               </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="saveVersioneComposizioneConsiglioModal" tabindex="-1" role="dialog" aria-labelledby="myComposizioneConsiglioLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="saveNuovaVersione()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myVersioneComposizioneConsiglioLabel" translate="cifra2gestattiApp.versioneComposizioneConsiglio.home.createOrEditLabel">Create or edit a Composizione</h4>
                    </div>
                    
                    <div class="modal-body">
                    	<div class="tab-content clearfix">
                    	<div class="form-group">
                    	<div><span>Inserire i dati principali della nuova versione della composizione di consiglio. Saranno assegnati alla composizione tutti i profili che hanno attualmente il ruolo Componente Consiglio. Per modificare le qualifiche professionali, l'ordine e la validita dei singoli consiglieri è necessario procedere successivamente alla modifica della versione.</span></div>
                    				
		                        	<div class="row">
			                        	<div class="col-md-6">
			                        		<label translate="cifra2gestattiApp.versioneComposizioneConsiglio.descrizione">Descrizione *</label> *
				                            <input type="text" class="form-control" name="descrizione"
				                                   ng-model="nuovaVersioneComposizioneConsiglio.descrizione" maxlength="100" required>
				
				                            <div ng-show="editForm.descrizione.$invalid"></div>
			                        	</div>
			                        </div>
			                        <div class="row">
			                        	<div class="col-md-6">
			                        		<label translate="cifra2gestattiApp.versioneComposizioneConsiglio.versione">Versione</label> *
				                            <input type="number" class="form-control" name="version"
				                                   ng-model="nuovaVersioneComposizioneConsiglio.version" required>
				
				                            <div ng-show="editForm.versione.$invalid"></div>
			                        	</div>
			                        </div>
			                        <div class="row">
			                        	<div class="col-md-6">
			                        		<label translate="cifra2gestattiApp.versioneComposizioneConsiglio.predefinita">Predefinita</label> *
				                             <si-no-select ng-model="nuovaVersioneComposizioneConsiglio.predefinita" required ></si-no-select>
				
				                            <div ng-show="editForm.versione.$invalid"></div>
			                        	</div>
			                        </div>
		                        </div>
                    	
                    	</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>





    

	<div ng-if="!editing">
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.dataCreazione">Data Creazione</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.descrizione">Descrizione</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.versione">Versione</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.predefinita">Predefinita</th>
	                    <th></th>
	                </tr>
	                <tr>
			           <th></th>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.descrizione"></th>
			           <th><input type="text" ng-model="tempSearch.version"></th>
			           <th><si-no-select ng-model="tempSearch.predefinita" ></si-no-select></th>
			           <th><button class="btn btn-primary btn-sm" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-sm" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="versioneComposizioneConsiglio in versioneComposizioneConsiglios">
	                    <td><a ui-sref="versioneComposizioneConsiglioDetail({id:versioneComposizioneConsiglio.id})">{{versioneComposizioneConsiglio.id}}</a></td>
	                    <td>{{versioneComposizioneConsiglio.dataCreazione ? (versioneComposizioneConsiglio.dataCreazione | date:'short') : ''}}</td>
	                    <td>{{versioneComposizioneConsiglio.descrizione}}</td>
	                    <td>{{versioneComposizioneConsiglio.version}}</td>
	                    <td>{{versioneComposizioneConsiglio.predefinita ? 'Si' : 'No'}}</td>
	                    <td>
	                        <button type="submit"
	                                ng-click="showUpdate(versioneComposizioneConsiglio.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="versioneComposizioneConsiglios && versioneComposizioneConsiglios.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
    <div  ng-if="editing" >
        <form name="editForm" role="form" validate ng-submit="save()">
       		<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th translate="entity.detail.field">Field</th>
	                    <th translate="entity.detail.value">Value</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr>
	                    <td>
	                        <span translate="cifra2gestattiApp.versioneComposizioneConsiglio.descrizione">Descrizione</span>
	                    </td>
	                    <td>
	                        <input type="text" class="form-control" name="descrizione" ng-model="versioneComposizioneConsiglio.descrizione" maxlength="100" required>
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <span translate="cifra2gestattiApp.versioneComposizioneConsiglio.versione">Versione</span>
	                    </td>
	                    <td>
	                        <input type="number" class="form-control" name="version" ng-model="versioneComposizioneConsiglio.version" required size="3">
	                    </td>
	                </tr>
	                <tr>
	                    <td>
	                        <span translate="cifra2gestattiApp.versioneComposizioneConsiglio.predefinita">Predefinita</span>
	                    </td>
	                    <td>
	                        <si-no-select ng-model="versioneComposizioneConsiglio.predefinita" required ></si-no-select>
	                    </td>
	                </tr>
	            </tbody>
        	</table>
        	<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.componente">Componente Consiglio</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.grupporuolo">Gruppo Ruolo</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.ordine">Ordine Votazione</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.valido">Valido</th>
	                    <th translate="cifra2gestattiApp.versioneComposizioneConsiglio.qualificaProfessionale">Qualifica Professionale</th>
	                </tr>
				</thead>
	            <tbody>
	                <tr ng-repeat="profiloComposizione in versioneComposizioneConsiglio.hasProfiloComposizione">
	                    
	                    <td>{{profiloComposizione.profilo.utente.nome}} {{profiloComposizione.profilo.utente.cognome}} ({{profiloComposizione.profilo.utente.username}})</td>
	                    <td>{{profiloComposizione.profilo.grupporuolo.denominazione}}</td>
	                    <TD>
	                    	<input type="text" size="2"  maxlength="2"  ng-pattern="/^[0-9]{1,2}$/" ng-model="profiloComposizione.ordine">
	                    </TD>
	                    <td><si-no-select required ng-model="profiloComposizione.valido"></si-no-select></td>
	                    <td>
	                    	<select class="form-control" name="qualificaProfessionale" ng-model="profiloComposizione.qualificaProfessionale.id" ng-options="qualifica.id as qualifica.denominazione for qualifica in profiloComposizione.profilo.hasQualifica"></select>
						</td>
	                </tr>
	            </tbody>
	        </table>
        	
        	
        	
			    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="refresh()">
				    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.back">Back</span>
				</button>
				
				                
				<button type="submit" class="btn btn-primary">
				    <span class="glyphicon glyphicon-reset"></span>&nbsp;<span translate="entity.action.save">Save</span>
				</button>
        </form>
    </div>
</div>
