<div>
	
	<div class="tab-pane fade in active">
		<div>
			<br>
			
			<div class="form-group">
				<h4 style="font-weight: bold;">	
					Questa operazione consentir&agrave; di generare il documento secondo il modello selezionato, vuoi andare avanti?
				</h4>
			</div>
			<div class="form-group" ng-repeat="tipoDocumento in generaElencoTipoDocumento">
				<label  >{{tipoDocumento.descrizione}}</label>
    			 <select class="form-control everActive" ng-model="modelloHtml[$index]" ng-options="modello.titolo for modello in tipoDocumento.elencoModelloHtml" required>
				</select>
			</div>
		</div>
	</div>
 
        
            

</div>
