<div>
	<div class="form-group">
		<input type="hidden" ng-init="initTitoloParere()"
			ng-model="dtoWorkflow.parere.titolo" />
		
		<label>Confermi di voler procedere con il ritiro dell'atto? In caso di conferma il ritiro diventa definitivo e l'atto non potrà essere ripristinato.</label>
		
		<div class="form-group">
			<label>MOTIVAZIONE</label> *
			<textarea class="form-control" name="parere" ng-model="dtoWorkflow.parere.parere" required></textarea>
		</div>
		
		<input type="hidden" name="parereSintetico" ng-model="dtoWorkflow.parere.parereSintetico" value="ritiro_fase_istruttoria">
	</div>
</div>
