<div>
	<div class="form-group">
	
		<input type="hidden" ng-init="initTitoloParere()"
			ng-model="dtoWorkflow.parere.titolo" />
			
		<input type="hidden" name="parere" ng-model="dtoWorkflow.parere.parere" value="">
		<input type="hidden" name="parereSintetico" ng-model="dtoWorkflow.parere.parereSintetico" value="visto">
		
		
		<label>Confermi di voler procedere con il visto dell'atto? In tal caso, l'atto passera' alla fase successiva. </label> 
		
		
		<label>NOTA</label>
		<textarea class="form-control" name="parere" ng-model="dtoWorkflow.parere.parere"></textarea>
	</div>
</div>