<div>
	<div class="form-group">
	
		<input type="hidden" ng-init="initTitoloParere()"
			ng-model="dtoWorkflow.parere.titolo" />
			
		<input type="hidden" name="parere" ng-model="dtoWorkflow.parere.parere" value="">
		<input type="hidden" name="parereSintetico" ng-model="dtoWorkflow.parere.parereSintetico" value="visto">
		
		
		<label>ATTENZIONE!!! IN QUESTA FASE E' PREVISTO L'INSERIMENTO DELLE COMMISSIONI CONSILIARI che dovranno registrare il proprio parere sulla proposta. Pertanto, cliccando sul pulsante "Conferma Visto Segreteria del Consiglio", l'atto passera' alla fase successiva mentre, cliccando sul pulsante "Chiudi" avrai la possibilita' di rivedere la proposta e, nel caso in cui non l'avessi gia' fatto, potrai inserire le Commissioni che dovranno esprimere il proprio parere</label> 
	</div>
</div>