<div>
	<div class="form-group">
	
		<input type="hidden" ng-init="initTitoloParere()"
			ng-model="dtoWorkflow.parere.titolo" />
			
		<input type="hidden" name="parere" ng-model="dtoWorkflow.parere.parere" value="">
		<input type="hidden" name="parereSintetico" ng-model="dtoWorkflow.parere.parereSintetico" value="visto">
		
		
		<label>Confermando questa operazione, all'atto sara' associato un Visto generico di Riscontro Contabile ed il suo iter <b>SARA' CONCLUSO</b>.<br><br>
		Confermi di voler procedere con il visto dell'atto?</label> 
	</div>
</div>