<div ng-if="isOperatoreOdg && sedutaGiunta.organo == 'G'">
		<div class="form-group">
				<a target="_blank" href="/api/sedutaGiuntas/generareport/{{profiloattivo.id}}/{{sedutaGiunta.id}}/{{nomeFile(sedutaGiunta)}}?access_token={{access_token}}" class="btn btn-xs btn-success" style="color:white;">
				    <span class="glyphicon glyphicon-save"></span>&nbsp;<span  >Esporta ODG in Excel</span>
				</a>
		</div>
	</div>
	<div ng-if="isOperatoreOdg && sedutaGiunta.organo == 'C'">
		<div class="form-group">
				<a target="_blank" href="/api/sedutaGiuntas/generareport/{{profiloattivo.id}}/{{sedutaGiunta.id}}/{{nomeFile(sedutaGiunta)}}?access_token={{access_token}}" class="btn btn-xs btn-success" style="color:white;">
				    <span class="glyphicon glyphicon-save"></span>&nbsp;<span  >Esporta ODL in Excel</span>
				</a>
		</div>
	</div>

<nav>
	<ul class="nav nav-pills">
		<li class="pull-left" >&nbsp;
			<button type="button" ng-if="verificaCreaFuoriSaccoOrSuppletivo(4)"
				ng-click="creaNuovoOdg(4)"
				class="btn btn-primary btn-sm">
				<i class="fa fa-spinner fa-pulse" ng-if="taskLoading"></i>
				Crea nuovo {{odgStr}} fuori sacco
			</button>
		</li>
	</ul>
</nav>
<!--
<br>
<div class="panel-group" role="tablist" aria-multiselectable="true" bs-collapse>
	<div class="panel panel-default" ng-repeat="odg in sedutaGiunta.odgs | filter:{ tipoOdg:{id: 4}}">
		<div class="panel-heading">
  			<div class="col-sm-4" role="tab">
				<h4 class="panel-title">
					<a bs-collapse-toggle style="display: block; cursor: pointer;">
						OdG {{odg.tipoOdg.descrizione}} n. {{odg.progressivoOdgSeduta != null && odg.progressivoOdgSeduta != "" ? odg.progressivoOdgSeduta:($index +1)}}
					</a>
				</h4>
			</div>
			<div class="col-sm-4 text-center" role="tab">
				<h4 class="panel-title">
					<strong>{{odg.oggetto}}</strong>
				</h4>
			</div>
			<div class="col-sm-4"></div>
			<div style="clear: both"></div>
  		</div>

		<div class="panel-collapse" role="tabpanel" bs-collapse-target>
			<div class="panel-body">
				<div ng-include="'scripts/app/entities/sedutaGiunta/sezioni/seduta-funzioniodg.html'" ></div>
				<div ng-include="'scripts/app/entities/sedutaGiunta/sezioni/seduta-datiodg.html'" ></div>
			</div>
		</div>
	</div>
</div> -->
<div ng-repeat="odg in sedutaGiunta.odgs | returnOdgFuoriSacco">
	<div ng-include="'scripts/app/entities/sedutaGiunta/sezioni/seduta-funzioniodg.html'" ></div>
	<div ng-if="!isSolaLettura(odg)"  ng-include="'scripts/app/entities/sedutaGiunta/sezioni/seduta-datiodg.html'" ></div>
	<div ng-if="isSolaLettura(odg)" ng-include="'scripts/app/entities/sedutaGiunta/sezioni/seduta-datiodg-consolidati.html'" ></div>
</div>
