<div>
	<div>  
	    <div class="table-responsive">
	        <table class="table table-striped">
	        	<thead>

	                <tr>
	                	<th></th>
	                    <th><a href="#" onclick="return false;"><span ng-click="ordinamento('codiceCifra')" translate="cifra2gestattiApp.atto.codiceCifraNotRequired">codiceCifra</span></a></th>
	                    <th><a href="#" onclick="return false;"><span ng-click="ordinamento('oggetto')" translate="cifra2gestattiApp.atto.oggettoNotRequired">oggetto</span></a></th>
	                    <th><a href="#" onclick="return false;"><span ng-click="ordinamento('numeroAdozione')" translate="cifra2gestattiApp.atto.numeroAdozione">numeroAdozione</span></a></th>	 
	                    <th><a href="#" onclick="return false;"><span ng-click="ordinamento('dataAdozione')" translate="cifra2gestattiApp.atto.dataAdozione">dataAdozione</span></a></th>
	                    <th></th>
	                </tr>
	                
	                <tr>
	                	<th></th>
                		<th><input type="text" name="codiceCifra"   ng-model="criteria.codiceCifra"></th>
                		<th><input type="text" name="oggetto"   ng-model="criteria.oggetto"></th>
                		<th><input class="fixed-small-width" type="text" name="numeroAdozione"  ng-model="criteria.numeroAdozione"></th>
	                	<th><input class="fixed-width" type="text" name="dataAdozione"   ng-model="criteria.dataAdozione" bs-datepicker></th>
	                    <th><button class="btn btn-primary btn-sm" ng-click="cercaAttoRevocato()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-sm" ng-click="resetRicerca(true);"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
	                </tr>
	                
	            </thead>
	            <tbody>
	                <tr ng-repeat="atto in attos">
						<td><input type="radio" name="attoRevocatoRadio" ng-checked="{{attoRevocato.id == atto.id}}" ng-click="selezionaAttoRevocato(atto)" ng-value="atto"></td>
	                    <td>{{atto.codiceCifra}}</td>
	                    <td>{{atto.oggetto}}</td>
	                    <td>{{atto.numeroAdozione}}</td>
						<td>{{atto.dataAdozione| date:'dd-MM-yyyy'}}</td>
						<td></td>
	            	</tr>
	        	</tbody>
	    	</table>
	    </div>
	    <nav>
	        <ul class="pagination">
	            <li ng-show="links['first']" ng-click="loadPage(links['first'], true)"><a>&lt;&lt;</a></li>
	            <li ng-show="links['prev']" ng-click="loadPage(links['prev'], true)"><a>&lt;</a></li>
	            <li ng-show="page > 2" ng-click="loadPage(page - 2, true)"><a>{{page - 2}}</a></li>
	            <li ng-show="page > 1" ng-click="loadPage(page - 1, true)"><a>{{page - 1}}</a></li>
	            <li class="active"><a>{{page}}</a></li>
	            <li ng-show="page < links['last']" ng-click="loadPage(page + 1, true)"><a>{{page + 1}}</a></li>
	            <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2, true)"><a>{{page + 2}}</a></li>
	            <li ng-show="links['next']" ng-click="loadPage(links['next'], true)"><a>&gt;</a></li>
	            <li ng-show="links['last']" ng-click="loadPage(links['last'], true)"><a>&gt;&gt;</a></li>
	        </ul>
	    </nav>
	    <div align="center">
	    	<button
               ng-click="salvaAttoRevocato()"
               class="btn btn-info btn-sm" ng-disabled="!attoRevocato.id">
               <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Conferma</span>
          	</button>
          	<button
               ng-click="rimuoviAttoRevocato()"
               class="btn btn-info btn-sm">
               <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Nessun Atto Collegato</span>
          	</button>
          	<button
               ng-click="annullaAttoRevocato()"
               class="btn btn-info btn-sm">
               <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Annulla</span>
          	</button>
	    </div>
    </div>
</div>