<div>

    <h2 translate="cifra2gestattiApp.tipoDeterminazione.home.title">TipoDeterminazione</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTipoDeterminazioneModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.tipoDeterminazione.home.createLabel">Create a new TipoDeterminazione</span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="operationNotPermitted">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                           ng-click="clear()">&times;</button>
                   <h4 class="modal-title" translate="entity.modify.notPermitted">Operation not permitted</h4>
               </div>
               <div class="modal-body">
                   <p translate="cifra2gestattiApp.tipoDeterminazione.messages.error.operationNotPermitted">Operation not permitted</p>
               </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTipoDeterminazioneModal" tabindex="-1" role="dialog" aria-labelledby="myTipoDeterminazioneLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">
					
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTipoDeterminazioneLabel" translate="cifra2gestattiApp.tipoDeterminazione.home.createOrEditLabel">Create or edit a TipoDeterminazione</h4>
                    </div>
                    <div class="modal-body">
                    	<div class="form-group">
                            <label ng-if="attiEsistenti && attiEsistenti == true">Alcuni dati non sono editabili perche' esistono atti che utilizzano questo tipo di collegamento tra atti</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tipoDeterminazione.id" readonly>
                        </div>
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tipoDeterminazione.id" readonly>
                        </div>
                        
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.tipoDeterminazione.codice">Codice</label> *
                            <input ng-if="attiEsistenti && attiEsistenti == true" type="text" class="form-control" name="codice" maxlength="50" ng-model="tipoDeterminazione.codice" required readonly>
                            <input ng-if="!attiEsistenti || attiEsistenti == false" type="text" class="form-control" name="codice" maxlength="50" ng-model="tipoDeterminazione.codice" required>

                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.tipoDeterminazione.descrizione">Descrizione</label> *
                            <input type="text" class="form-control" name="descrizione" maxlength="255" ng-model="tipoDeterminazione.descrizione" required>
                        </div>
                        
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.tipoDeterminazione.statoTrasparenza">Stato Trasparenza</label> *
                            <input type="text" class="form-control" name="descrizione" maxlength="255" ng-model="tipoDeterminazione.statoTrasparenza" required>

                        </div>
                        
                        <div class="form-group">
                            		<label translate="cifra2gestattiApp.tipoDeterminazione.fileVisibiliInTrasparenza">fileVisibiliInTrasparenza</label> *
                           			 <si-no-select ng-if="attiEsistenti && attiEsistenti == true" ng-model="tipoDeterminazione.fileVisibiliInTrasparenza" required ng-disabled="true"></si-no-select>
                           			 <si-no-select ng-if="!attiEsistenti || attiEsistenti == false" ng-model="tipoDeterminazione.fileVisibiliInTrasparenza" required ></si-no-select>
                        		</div>
                        		
                       
                       <div class="form-group" ng-if="attiEsistenti && attiEsistenti == true">
							<label translate="cifra2gestattiApp.tipoDeterminazione.tipoAtto">tipoAtto</label> *
						    <ui-select multiple ng-model="tipoDeterminazione.tipiAtto" theme="bootstrap">
						       	<ui-select-match placeholder="Seleziona Tipi Atto" ui-lock-choice="true">{{$item.descrizione}}</ui-select-match>
						        	<ui-select-choices repeat="tipoAtto in (tipoAttos | filter: $select.search) track by tipoAtto.id">
						       	 	<div ng-bind-html="tipoAtto.descrizione | highlight: $select.search"></div>
						   		</ui-select-choices>
							</ui-select>
							<div ng-show="editForm.tipoAtto.$invalid">  </div>
						</div>
						
						<div class="form-group" ng-if="!attiEsistenti || attiEsistenti == false">
							<label translate="cifra2gestattiApp.tipoDeterminazione.tipoAtto">tipoAtto</label> *
						    <ui-select multiple ng-model="tipoDeterminazione.tipiAtto" theme="bootstrap">
						       	<ui-select-match placeholder="Seleziona Tipi Atto">{{$item.descrizione}}</ui-select-match>
						        	<ui-select-choices repeat="tipoAtto in (tipoAttos | filter: $select.search) track by tipoAtto.id">
						       	 	<div ng-bind-html="tipoAtto.descrizione | highlight: $select.search"></div>
						   		</ui-select-choices>
							</ui-select>
							<div ng-show="editForm.tipoAtto.$invalid">  </div>
						</div>
                        		

                    </div>
                    
                    	
		
		
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTipoDeterminazioneConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(tipoDeterminazione.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.tipoDeterminazione.delete.question" translate-values="{id: '{{tipoDeterminazione.id}}'}">Are you sure you want to delete this TipoDeterminazione?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.tipoDeterminazione.descrizione">Descrizione</th>
	                    <th translate="cifra2gestattiApp.tipoDeterminazione.statoTrasparenza">statoTrasparenza</th>
	                    <th translate="cifra2gestattiApp.tipoDeterminazione.fileVisibiliInTrasparenza">fileVisibiliInTrasparenza</th>
	                    <th translate="cifra2gestattiApp.tipoDeterminazione.tipoAtto">TipoAtto</th>
	                    <th></th>
	                </tr>
	                <tr>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.descrizione"></th>
			           <th><input type="text" ng-model="tempSearch.statoTrasparenza"></th>
			           <th><si-no-select ng-model="tempSearch.fileVisibiliInTrasparenza" ></si-no-select></th>
			           <th class="limited-width"><ui-select ng-model="tempSearch.tipoAtto" theme="bootstrap">
		                    	<ui-select-match allow-clear="true">{{$select.selected}}</ui-select-match>
		                    	<ui-select-choices repeat="tipoCur in listTipoAtto | filter: $select.search track by $index">
		                            <div ng-bind-html="tipoCur | highlight: $select.search"></div>
		                    	</ui-select-choices>
	                      	</ui-select>
	                    </th>
			           <th><button class="btn btn-primary btn-sm" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-sm" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="tipoDeterminazione in tipoDeterminaziones">
	                    <td><a ui-sref="tipoDeterminazioneDetail({id:tipoDeterminazione.id})">{{tipoDeterminazione.id}}</a></td>
	                    <td>{{tipoDeterminazione.descrizione}}</td>
	                    <td>{{tipoDeterminazione.statoTrasparenza}}</td>
	                    <td>{{tipoDeterminazione.fileVisibiliInTrasparenza ? 'Si' : 'No'}}</td>
	                    <td><div ng-repeat="tipoAtto in tipoDeterminazione.tipiAtto">{{tipoAtto.id}}-{{tipoAtto.descrizione}}</div></td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="tipoDeterminazioneDetail({id:tipoDeterminazione.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(tipoDeterminazione.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(tipoDeterminazione.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                        <button type="submit"
	                        		ng-show="tipoDeterminazione.enabled"
	                                ng-click="disable(tipoDeterminazione)"
	                                class="btn btn-warning btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable"> Disable</span>
	                        </button>
	                        <button type="submit"
	                        		ng-hide="tipoDeterminazione.enabled"
	                                ng-click="enable(tipoDeterminazione)"
	                                class="btn btn-success btn-sm">
	                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.enable"> Enable</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="tipoDeterminaziones && tipoDeterminaziones.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
