<div>

    <h2 translate="cifra2gestattiApp.rubricaDestinatarioEsterno.home.title">RubricaDestinatarioEsterno</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveRubricaDestinatarioEsternoModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.rubricaDestinatarioEsterno.home.createLabel">Create a new RubricaDestinatarioEsterno</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveRubricaDestinatarioEsternoModal" tabindex="-1" role="dialog" aria-labelledby="myRubricaDestinatarioEsternoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myRubricaDestinatarioEsternoLabel" translate="cifra2gestattiApp.rubricaDestinatarioEsterno.home.createOrEditLabel">Create or edit a RubricaDestinatarioEsterno</h4>
                    </div>
                    <div class="modal-body">

                       <rubrica-destinatario-esterno-form ng-model="rubricaDestinatarioEsterno" lista-aoo="aoos" disabled-aoo="false" hide-aoo="!isAdmin"></rubrica-destinatario-esterno-form>
						<div align="center" class="alert alert-danger" ng-if="checkEsistenza == true" translate="cifra2gestattiApp.rubricaDestinatarioEsterno.alreadyExists"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteRubricaDestinatarioEsternoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDisable(rubricaDestinatarioEsterno.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p 
                        	translate="cifra2gestattiApp.rubricaDestinatarioEsterno.delete.question"
                        	translate-values="{name: '{{ rubricaDestinatarioEsterno.nome || rubricaDestinatarioEsterno.denominazione }}', surname: '{{rubricaDestinatarioEsterno.cognome}}'}">
                        	Are you sure you want to delete this RubricaDestinatarioEsterno?
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable">Disable</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="row">
   		<div class="col-md-6 col-md-offset-6 col-sm-12">
   			<div class="pull-right">
   				<div class="form-inline">
   					<div class="form-group">
			          <label translate="cifra2gestattiApp.rubricaDestinatarioEsterno.filtro.label-stato">Stato</label> 
			          <ui-select ng-model="tempSearch.stato" theme="bootstrap" style='display: inline-block; min-width: 120px;'
			          	on-select="onSelected($item)">
			          	<ui-select-match allow-clear="true">{{$select.selected.denominazione | translate}}</ui-select-match>
						<ui-select-choices repeat="stato in stati | filter: $select.search">
							<div ng-bind-html="stato.denominazione | translate | highlight: $select.search"></div>
						</ui-select-choices>
			          </ui-select>
			        </div>
   				</div>
   			</div>
       </div>
   	</div>

	<div>
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                	<th width="30px"></th>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.tipo">Tipo</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.denominazione">Denominazione</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.nome">Nome</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.cognome">Cognome</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.email">Email</th>
	                    <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.pec">Pec</th>
	                    <!-- <th translate="cifra2gestattiApp.rubricaDestinatarioEsterno.notificagiunta">notificagiunta</th> -->
	                    <th ng-if="isAdmin"> 
			                <span translate="cifra2gestattiApp.rubricaDestinatarioEsterno.aoo">Ufficio</span>
		                	<!-- <span data-toggle="tooltip"
								title="<b>GUIDA</b><br/>Inserire il codice AOO oppure la denominazione dell’AOO."
								data-html="true" ng-init="initTooltip()">
								<i class="fa fa-question" ></i>
							</span> -->
		                </th>
		                
	                    <th></th>
	                </tr>
	                <tr>
	                	<th style="text-align:center;">
	                    	<button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button>
							<button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button>
	                    </th>
	                    <th></th>
	                    <th><input type="text" ng-model="tempSearch.tipo"></th>
	                    <th><input type="text" ng-model="tempSearch.denominazione"></th>
	                    <th><input type="text" ng-model="tempSearch.nome"></th>
	                    <th><input type="text" ng-model="tempSearch.cognome"></th>
	                    <th><input type="text" ng-model="tempSearch.email"></th>
	                    <th><input type="text" ng-model="tempSearch.pec"></th>
	                    <!-- <th style="min-width:120px;">
	                    	<select ng-model="tempSearch.notificaGiuntaAutomatica" class="form-control"
	                    	ng-options="item.valore as item.label for item in [{valore:'-',label:'Entrambi'},{valore:true,label:'Si'},{valore:false,label:'No'}]">
							</select></th> -->
	                    <th ng-if="isAdmin">
	                    
	                    <select class="form-control" name="aooCompetente" ng-model="tempSearch.aoo" ng-options="aoo as aoo.codice ? aoo.descrizione + ' (' + aoo.codice + ')' : aoo.descrizione for aoo in aoos | filter:{validita:{validoal:null}} track by aoo.id" required>
                        </select>
	                    </th>
	                    <th>
	                    	<button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button>
							<button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button>
	                    </th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="rubricaDestinatarioEsterno in rubricaDestinatarioEsternos">
	                    <td></td>
	                    <td><a ui-sref="rubricaDestinatarioEsternoDetail({id:rubricaDestinatarioEsterno.id})">{{rubricaDestinatarioEsterno.id}}</a></td>
	                    <td>{{rubricaDestinatarioEsterno.tipo}}</td>
	                    <td>{{rubricaDestinatarioEsterno.denominazione}}</td>
	                    <td>{{rubricaDestinatarioEsterno.nome}}</td>
	                    <td>{{rubricaDestinatarioEsterno.cognome}}</td>
	                    <td>{{rubricaDestinatarioEsterno.email}}</td>
	                    <td>{{rubricaDestinatarioEsterno.pec}}</td>
	                    <!-- <td>{{rubricaDestinatarioEsterno.notificaGiuntaAutomatica != null && rubricaDestinatarioEsterno.notificaGiuntaAutomatica ? 'Si' : 'No'}}</td> -->
	                    <td ng-if="isAdmin">{{rubricaDestinatarioEsterno.aoo.codice}}-{{rubricaDestinatarioEsterno.aoo.descrizione}}</td>
	                    
	                    <td>
	                        <button type="submit"
	                                ui-sref="rubricaDestinatarioEsternoDetail({id:rubricaDestinatarioEsterno.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button ng-if="rubricaDestinatarioEsterno.aoo || isAdmin" type="submit"
	                                ng-click="showUpdate(rubricaDestinatarioEsterno.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button ng-if="rubricaDestinatarioEsterno.aoo || isAdmin" type="submit"
	                        		ng-hide="rubricaDestinatarioEsterno.validita.validoal"
	                                ng-click="disable(rubricaDestinatarioEsterno.id)"
	                                class="btn btn-warning btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable"> Disable</span>
	                        </button>
	                        <button ng-if="rubricaDestinatarioEsterno.aoo || isAdmin" type="submit"
	                        		ng-show="rubricaDestinatarioEsterno.validita.validoal"
	                                ng-click="enable(rubricaDestinatarioEsterno)"
	                                class="btn btn-success btn-sm">
	                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.enable"> Enable</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="rubricaDestinatarioEsternos && rubricaDestinatarioEsternos.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
