<div>

    <h2 translate="cifra2gestattiApp.tipoDocumentoSerie.home.title">TipoDocumentoSerie</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveTipoDocumentoSerieModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.tipoDocumentoSerie.home.createLabel">Create a new TipoDocumentoSerie</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveTipoDocumentoSerieModal" tabindex="-1" role="dialog" aria-labelledby="myTipoDocumentoSerieLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>
					<input type="hidden" ng-model="enable">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myTipoDocumentoSerieLabel" translate="cifra2gestattiApp.tipoDocumentoSerie.home.createOrEditLabel">Create or edit a TipoDocumentoSerie</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="tipoDocumentoSerie.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.tipoDocumentoSerie.descrizione">Descrizione</label> *
                            <input type="text" class="form-control" name="descrizione"
                                   ng-model="tipoDocumentoSerie.descrizione" required>

                            <div ng-show="editForm.descrizione.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.tipoDocumentoSerie.codice">Codice</label>
                            <input type="text" class="form-control" name="codice"
                                   ng-model="tipoDocumentoSerie.codice">

                            <div ng-show="editForm.codice.$invalid">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.tipoDocumentoSerie.descrizione">Descrizione</th>
	                    <th translate="cifra2gestattiApp.tipoDocumentoSerie.codice">Codice</th>
	                    <th></th>
	                </tr>
	                <tr>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.descrizione"></th>
			           <th><input type="text" ng-model="tempSearch.codice"></th>
			           <th><button class="btn btn-primary btn-sm" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-sm" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="tipoDocumentoSerie in tipoDocumentoSeries">
	                    <td><a ui-sref="tipoDocumentoSerieDetail({id:tipoDocumentoSerie.id})">{{tipoDocumentoSerie.id}}</a></td>
	                    <td>{{tipoDocumentoSerie.descrizione}}</td>
	                    <td>{{tipoDocumentoSerie.codice}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="tipoDocumentoSerieDetail({id:tipoDocumentoSerie.id})"
	                                class="btn btn-info btn-xs">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
                        		ng-show="tipoDocumentoSerie.enable"
                                ng-click="setIsAbilitato(tipoDocumentoSerie.id, !tipoDocumentoSerie.enable)"
                                class="btn btn-warning btn-xs">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable"> Disable</span>
	                        </button>
	                        <button type="submit"
	                        		ng-hide="tipoDocumentoSerie.enable"
	                                ng-click="setIsAbilitato(tipoDocumentoSerie.id, !tipoDocumentoSerie.enable)"
	                                class="btn btn-success btn-xs">
	                            <span class="glyphicon glyphicon-ok-circle"></span>&nbsp;<span translate="entity.action.enable"> Enable</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(tipoDocumentoSerie.id)"
	                                class="btn btn-primary btn-xs">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="tipoDocumentoSeries && tipoDocumentoSeries.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
