<div>
	<div class="cifra-tab-content active" ng-include="'scripts/app/entities/schedaDato/schedaDato-form.html'"></div>
    <h2 translate="cifra2gestattiApp.scheda.home.title">Scheda</h2>

          
 
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveSchedaModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.scheda.home.createLabel">Create a new Scheda</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveSchedaModal" tabindex="-1" role="dialog" aria-labelledby="mySchedaLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="mySchedaLabel" translate="cifra2gestattiApp.scheda.home.createOrEditLabel">Create or edit a Scheda</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="scheda.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.scheda.etichetta">Etichetta</label> *
                            <input required type="text" class="form-control" name="etichetta"
                                   ng-model="scheda.etichetta">

                            <div ng-show="editForm.etichetta.$invalid">
                            </div>
                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.scheda.ripetitiva">Ripetitiva</label> *
                            <input type="checkbox" class="form-control" name="ripetitiva"
                                   ng-model="scheda.ripetitiva">

                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.scheda.ordine">Ordine</label>
                            <input type="number" class="form-control" name="ordine"
                                   ng-model="scheda.ordine">

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteSchedaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(scheda.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.scheda.delete.question" translate-values="{id: '{{scheda.id}}'}">Are you sure you want to delete this Scheda?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="deleteSchedaInformation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmForceDelete(scheda.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 ng-if="scheda.question == 'question_rif_obblighi'" class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                        <h4 ng-if="scheda.question == 'question_rif_atti'" class="modal-title" translate="entity.delete.notPossible">Cancellazione non possibile</h4>
                    </div>
                    <div class="modal-body">
                        <p ng-if="scheda.question == 'question_rif_atti'" translate="cifra2gestattiApp.scheda.delete.question_rif_atti" translate-values="{obblighiThatUseScheda: '{{scheda.obblighiThatUseScheda}}', attiThatUseScheda: '{{scheda.attiThatUseScheda}}', obblighiIdsStr: '{{scheda.obblighiIdsStr}}'}"></p>
                        <p ng-if="scheda.question == 'question_rif_obblighi'" translate="cifra2gestattiApp.scheda.delete.question_rif_obblighi" translate-values="{obblighiThatUseScheda: '{{scheda.obblighiThatUseScheda}}'}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button ng-if="scheda.question == 'question_rif_obblighi'" type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                	<th width="30px"></th>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.scheda.etichetta">Etichetta</th>
	                    <th translate="cifra2gestattiApp.scheda.ripetitiva">Ripetitiva</th>
	                    <th translate="cifra2gestattiApp.scheda.ordine">Ordine</th>
	                    <th></th>
	                </tr>
	                <tr>
	                	<th style="text-align:center;"><button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.etichetta"></th>
			           <th class="limited-width">
			           		<ui-select ng-model="tempSearch.ripetitiva" theme="bootstrap">
		                    	<ui-select-match allow-clear="true">{{$select.selected.descrizione}}</ui-select-match>
		                    	<ui-select-choices repeat="cur in listTrueFalse | filter: $select.search track by $index">
		                            <div ng-bind-html="cur.descrizione | highlight: $select.search"></div>
		                    	</ui-select-choices>
	                      	</ui-select>
			           	</th>
			           <th><input type="text" ng-model="tempSearch.ordine"></th>
			           <th><button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="scheda in schedas">
	                	<td></td>
	                    <td><a ui-sref="schedaDetail({id:scheda.id})">{{scheda.id}}</a></td>
	                    <td>{{scheda.etichetta}}</td>
	                    <td><span ng-if="scheda.ripetitiva == true">Si</span><span ng-if="scheda.ripetitiva == false">No</span></td>
	                    <td>{{scheda.ordine}}</td>
	                    <td>
	                    	
	                        <button type="submit"
	                                ui-sref="schedaDetail({id:scheda.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(scheda.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(scheda.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                        <button class="btn btn-primary" data-toggle="modal" data-target="#saveSchedaDatoModal" ng-click="loadSchedaDato(scheda);">
			                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.scheda.GestSchedaDato">Gestione Scheda Dato</span>
			                </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="schedas && schedas.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
