<div>

    <h2 translate="cifra2gestattiApp.dato.home.title">Dato</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveDatoModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.dato.home.createLabel">Create a new Dato</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveDatoModal" tabindex="-1" role="dialog" aria-labelledby="myDatoLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myDatoLabel" translate="cifra2gestattiApp.dato.home.createOrEditLabel">Create or edit a Dato</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="dato.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.dato.etichetta">Etichetta</label> *
                            <input type="text" class="form-control" name="etichetta"
                                   ng-model="dato.etichetta" required>

                            <div ng-show="editForm.etichetta.$invalid">
                            </div>
                        </div>

                         <div class="form-group">
                            <label translate="cifra2gestattiApp.dato.dato_tipdat_fk">tipoDato</label> *
                            <select class="form-control" name="tipoDato" ng-model="dato.tipoDato" ng-options="tipodato as tipodato  for tipodato in tipodatos" required>
                            </select>
                        </div>


                        <div class="form-group" ng-if="dato.tipoDato === 'select'">
                            <label translate="cifra2gestattiApp.dato.multivalore">Multivalore</label>
                            <textarea class="form-control" name="multivalore"
                                   ng-model="dato.multivalore" ></textarea> 
                                   <i>Inserire una voce per riga</i>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDatoConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(dato.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.dato.delete.question" translate-values="{id: '{{dato.id}}'}">Are you sure you want to delete this Dato?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
    	<div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                	<th width="30px"></th>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.dato.etichetta">Etichetta</th>
	                    <th translate="cifra2gestattiApp.dato.dato_tipdat_fk">dato_tipdat_fk</th>
	                    <th translate="cifra2gestattiApp.dato.multivalore">Multivalore</th>
	                    <th></th>
	                </tr>
	                <tr>
			           <th style="text-align:center;"><button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			           <th></th>
			           <th><input type="text" ng-model="tempSearch.etichetta"></th>
			           <th class="limited-width">
			           		<ui-select ng-model="tempSearch.dato_tipdat_fk" theme="bootstrap">
		                    	<ui-select-match allow-clear="true">{{$select.selected}}</ui-select-match>
		                    	<ui-select-choices repeat="cur in tipodatos | filter: $select.search track by $index">
		                            <div ng-bind-html="cur | highlight: $select.search"></div>
		                    	</ui-select-choices>
	                      	</ui-select>
			           	</th>
			           <th><input type="text" ng-model="tempSearch.multivalore"></th>
			           <th><button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button> <button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button></th>
			        </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="dato in datos">
	                	<td></td>
	                    <td><a ui-sref="datoDetail({id:dato.id})">{{dato.id}}</a></td>
	                    <td>{{dato.etichetta}}</td>
	                    <td>{{dato.tipoDato}}</td>
	                    <td>{{dato.multivalore}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="datoDetail({id:dato.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(dato.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(dato.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="datos && datos.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
