<div>

    <h2 translate="cifra2gestattiApp.msg.home.title">msg</h2>
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            	<button class="btn btn-primary" data-toggle="modal" data-target="#saveMsgModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.msg.home.createLabel">Nuovo Msg</span>
                </button>
            </div>
            <div class="col-md-3 ">
            </div>
             <div class="col-md-3 ">
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveMsgModal" tabindex="-1" role="dialog" aria-labelledby="myMsgLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myMsgLabel" translate="cifra2gestattiApp.msg.home.createOrEditLabel">Nuovo msg</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.msg.destinatari">Destinatari</label> *
                            <ui-select required multiple ng-model="msg.destinatari" theme="bootstrap">
                            	<ui-select-match placeholder="Seleziona Ufficio">{{$item.codice + ' - ' + $item.descrizione}}</ui-select-match>
                                <ui-select-choices repeat="aoo in aooAttive | filter: $select.search">
                                	<div ng-bind-html="aoo.codice + ' - ' + aoo.descrizione | highlight: $select.search"></div>
                            	</ui-select-choices>
                         	</ui-select>
                        </div>
                        <div class="row">
                        	<div class="col-md-8">
                        		<div class="row">
		                        	<div class="col-md-5"><label translate="cifra2gestattiApp.msg.validodal">dal</label> *</div>
		                        	<div class="col-md-7"><input type="text" ng-model="msg.validita.validodal" size="7" onkeydown="return false;" bs-datepicker placeholder="Dal" required value="{{msg.validita.validodal ? (msg.validita.validodal | date : 'dd/MM/yyyy') : ''}}">  <span class="btn btn-default btn-xs" title="Cancella Data" ng-click="msg.validita.validodal = null;"><span class="glyphicon glyphicon-remove"></span></span><br/></div>
			                    </div>
			                    <div class="row">
				                    <div class="col-md-5"><label translate="cifra2gestattiApp.msg.validoal">al</label></div>
				                    <div class="col-md-7"><input type="text" ng-model="msg.validita.validoal" size="7" onkeydown="return false;" bs-datepicker placeholder="Al" value="{{msg.validita.validodal ? (msg.validita.validodal | date : 'dd/MM/yyyy') : ''}}"> <span title="Cancella Data" ng-click="msg.validita.validoal = null;" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-remove"></span></span></div>
				                </div>
		                    </div>
		                    <div class="col-md-4"></div>
                        </div>
                        <div style="margin-top:5px;" class="form-group">
                        	<label translate="cifra2gestattiApp.msg.categoria">categoria</label> *
                        	<select class="form-control" ng-model="msg.categoriaMsg" ng-options="categoria as categoria.descrizione for categoria in categorieMsg track by categoria.id" required>
                        	</select>
                        </div>
                        <div class="form-group">
                        	<label translate="cifra2gestattiApp.msg.priorita">priorita</label> *
                        	<select class="form-control" ng-model="msg.priorita" ng-options="priorita for priorita in prioritas" required>
                        	</select>
                        </div>
                        <div class="form-group">
                        	<label translate="cifra2gestattiApp.msg.pubblicatoIntranet">pubblicatoIntranet</label>
                        	<input type="checkbox" ng-model="msg.pubblicatoIntranet">
                        </div>
                        <div class="form-group">
                        	<label translate="cifra2gestattiApp.msg.pubblicatoInternet">pubblicatoInternet</label>
                        	<input type="checkbox" ng-model="msg.pubblicatoInternet">
                        </div>
                        <div class="form-group">
                        	<label translate="cifra2gestattiApp.msg.testo">Testo</label> *
                            <summernote ng-model="msg.testo" config="{height: 250}" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid || !msg.destinatari || msg.destinatari.length <= 0" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	    <div class="table-responsive crud-search">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                	<th width="30px"></th>
	                	<th translate="cifra2gestattiApp.msg.enabled">enabled</th>
	                    <th translate="cifra2gestattiApp.msg.datainserimento">datainserimento</th>
	                    <th translate="cifra2gestattiApp.msg.priorita">priorita</th>
	                    <th translate="cifra2gestattiApp.msg.categoria">categoria</th>
	                    <th translate="cifra2gestattiApp.msg.destinatari">destinatari</th>
	                    <th width="30px"></th>
	                </tr>
	                <tr>
	                	<th style="text-align:center;">
                    		<button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button>
							<button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button>
                   		</th>
		                <th>
		                	<select class="form-control" ng-model="tempSearch.enabled" ng-options="enabled.value as enabled.descrizione for enabled in [{descrizione:'Si', value:true}, {descrizione:'No', value:false}]">
                        	</select>
		                </th>
		                <th style="width:10em;">
		                    <input type="text" ng-model="tempSearch.dataStart" size="7" onkeydown="return false;" bs-datepicker placeholder="Dal"> <button title="Cancella Data" ng-click="tempSearch.dataStart = null;" class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button><br/>
		                    <input type="text" ng-model="tempSearch.dataEnd" size="7" onkeydown="return false;" bs-datepicker placeholder="Al"> <button title="Cancella Data" ng-click="tempSearch.dataEnd = null;" class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
		                </th>
		                <th>
		                	<select class="form-control" ng-model="tempSearch.priorita" ng-options="priorita for priorita in prioritas">
                        	</select>
		                </th>
		                <th>
		                	<select class="form-control" ng-model="tempSearch.categoria" ng-options="categoria as categoria.descrizione for categoria in categorieMsg track by categoria.id">
                        	</select>
		                </th>
		                <th>
		                	<input type="text" ng-model="tempSearch.destinatario">
		                </th>
		                <th style="text-align:center;">
                    		<button class="btn btn-primary btn-xs" ng-click="ricerca()"><span class="glyphicon glyphicon-search"/> <span translate="global.messages.cerca">Ricerca</span></button>
							<button class="btn btn-primary btn-xs" ng-click="resetRicerca()"><span translate="global.messages.resetricerca">Reset ricerca</span></button>
                   		</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="msg in msgs">
	                    <td></td>
	                    <td>{{(!msg.validita.validoal) || (now <= msg.validita.validoal && now >= msg.validita.validodal) ? 'Si' : 'No'}}</td>
	                    <td>{{msg.dataInserimento | date : 'dd/MM/yyyy HH:mm:ss'}}</td>
	                    <td>{{msg.priorita}}</td>
	                    <td>{{msg.categoriaMsg.descrizione}}</td>
	                    <td>
							<ul>
			         			<li ng-repeat="aoo in msg.destinatari">{{aoo.codice + ' - ' + aoo.descrizione}}</li>
			         		</ul>
						</td>
	                    <td align="right">
	                        <button type="button"
	                                ui-sref="msgDetail({id:msg.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(msg.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="forceExpire(msg.id)"
	                                class="btn btn-warning btn-sm"
	                                bs-tooltip data-html="true" data-placement="top" data-title="Cliccando questo pulsante si pone come data di fine validit&#224; del messaggio quella di ieri"
	                                ng-show="msg.validita.validoal && now <= msg.validita.validoal">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.disable"> Disable</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	        <div ng-if="msgs && msgs.length == 0" class="search-no-result"><h3 translate="global.searchNoResult"></h3></div>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
</div>
