<div>
	<div class="row">
      		<div class="col-xs-5">
	        	<div class="form-group">
					<label translate="cifra2gestattiApp.rubricaBeneficiario.idAscot">ID Sistema Esterno</label>
					<input type="text" class="form-control" name="idAscot" ng-model="ngModel.idAscot">
				</div>
      		</div> 
      		<div class="col-md-offset-2 col-xs-5">
	        	<div class="form-group">
					<label translate="cifra2gestattiApp.rubricaBeneficiario.tipoSoggetto">tipo soggetto</label> *
					<select class="form-control" name="tipoSoggetto" ng-model="ngModel.tipoSoggetto" ng-options="item.valore as item.label for item in [{valore:null,label:''},{valore:'PRIVATO',label:'Soggetto Privato'},{valore:'PUBBLICO',label:'Ente Pubblico'},{valore:'IMPRESA_DITTA',label:'Impresa/Ditta'},{valore:'DITTA_INDIVIDUALE',label:'Ditta Individuale'}]">
	 									</select>
				</div>					        		
      		</div> 
      	</div>
	
	<hr>
      	<div class="row">
      		<div class="col-xs-5">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.nome">nome</label><span ng-if="ngModel.tipoSoggetto == 'PRIVATO' || ngModel.tipoSoggetto == 'DITTA_INDIVIDUALE'"> *</span>
				<input type="text" class="form-control" name="nome" ng-model="ngModel.nome">
			</div>					        		
      		</div>
      		<div class="col-md-offset-2 col-xs-5">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.cognome">cognome</label><span ng-if="ngModel.tipoSoggetto == 'PRIVATO' || ngModel.tipoSoggetto == 'DITTA_INDIVIDUALE'"> *</span>
				<input type="text" class="form-control" name="cognome" ng-model="ngModel.cognome">
			</div>					        		
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="col-xs-5">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.comuneNascita">comune nascita</label>
				<input type="text" class="form-control" name="comuneNascita" ng-model="ngModel.comuneNascita">
			</div>					        		
      		</div>
      		<div class="col-xs-3">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.provinciaNascita">prov nascita</label>
				<input type="text" class="form-control" name="provNascita" ng-model="ngModel.provNascita">
			</div>					        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<i class="fa fa-calendar"></i>&nbsp;
				<label translate="cifra2gestattiApp.rubricaBeneficiario.dataNascita">data nascita</label>
		 		<input type="text" class="form-control" style="width:80% !important; display:inline-block;" onkeydown="return false;" name="dataNascita" data-date-type="date" ng-model="ngModel.dataNascita" bs-datepicker> <button title="Cancella Data" ng-click="ngModel.dataNascita = null;" onclick="return false;" class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
			</div>					        		
      		</div>
      		
      	</div>
      	
      	<div class="row">
      		<div class="col-xs-5">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.codiceFiscale">codiceFiscale</label><span ng-if="ngModel.tipoSoggetto == 'PRIVATO' || ngModel.tipoSoggetto == 'DITTA_INDIVIDUALE' || ngModel.tipoSoggetto == 'PUBBLICO'"> *</span>
				<input type="text" class="form-control" name="codiceFiscale" ng-model="ngModel.codiceFiscale">
			</div>			        		
      		</div>
      		<div class="col-xs-5">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.codiceFiscaleEstero">codiceFiscaleEstero</label>
				<input type="text" class="form-control" name="codiceFiscaleEstero" ng-model="ngModel.codiceFiscaleEstero">
			</div>			        		
      		</div>
      		<div class="col-xs-2">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.sesso">sesso</label>
				<select class="form-control" name="sesso" ng-model="ngModel.sesso">
					<option value="F">F</option>
  									<option value="M">M</option>
 									</select>        									
			</div>					        		
      		</div>
      	</div>
      	
      	<hr>
      	<div class="row">
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.denominazione">denominazione</label><span ng-if="ngModel.tipoSoggetto == 'PUBBLICO' || ngModel.tipoSoggetto == 'IMPRESA_DITTA'"> *</span>
				<input type="text" class="form-control" name="denominazione" ng-model="ngModel.denominazione">
			</div>					        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.partitaIva">partitaiva</label><span ng-if="ngModel.tipoSoggetto == 'DITTA_INDIVIDUALE' || ngModel.tipoSoggetto == 'IMPRESA_DITTA'"> *</span>
				<input type="text" class="form-control" name="partitaIva" ng-model="ngModel.partitaIva">
			</div>				        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.partitaIvaEstero">partitaIvaEstero</label>
				<input type="text" class="form-control" name="partitaIvaEstero" ng-model="ngModel.partitaIvaEstero">
			</div>				        		
      		</div>
      	</div>
      	<hr>
       		<div class="row">
        		<div class="col-xs-6">
		        	<div class="form-group">
						<label translate="cifra2gestattiApp.rubricaBeneficiario.pec">pec</label><span data-title="** Inserire almeno un dato tra PEC ed E-mail" bs-tooltip> **</span>
						<input ng-class="{'btn-danger': $parent.editForm.pecBeneficiario.$invalid && !$parent.editForm.pecBeneficiario.$pristine}" type="email" class="form-control toClear" name="pecBeneficiario" ng-model="ngModel.pec">
					</div>				        		
        		</div>
        		<div class="col-xs-6">
		        	<div class="form-group">
						<label translate="cifra2gestattiApp.rubricaBeneficiario.email">email</label><span data-title="** Inserire almeno un dato tra PEC ed E-mail" bs-tooltip> **</span>
						<input ng-class="{'btn-danger': $parent.editForm.emailBeneficiario.$invalid && !$parent.editForm.emailBeneficiario.$pristine}" type="email" class="form-control toClear" name="emailBeneficiario" ng-model="ngModel.email">
					</div>				        		
        		</div>
       		</div>
      	<hr>
      	<div class="row">
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.cap">cap</label>
				<input maxlength="5" ng-class="{'btn-danger': $parent.editForm.cap.$invalid && !$parent.editForm.cap.$pristine}" ng-pattern="/\b\d{5}\b/" type="text" class="form-control toClear" name="cap" ng-model="ngModel.cap">
			</div>				        		
      		</div>
      		<div class="col-xs-8">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.indirizzo1">indirizzo1</label>
				<input type="text" class="form-control" name="indirizzo1" ng-model="ngModel.indirizzo1">
			</div>					        		
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.citta">città</label>
				<input type="text" class="form-control" name="citta1" ng-model="ngModel.citta1">
			</div>				        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.provincia">provincia</label>
				<input type="text" class="form-control" name="provincia1" ng-model="ngModel.provincia1">
			</div>					        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.localita">localita</label>
				<input type="text" class="form-control" name="localita1" ng-model="ngModel.localita1">
			</div>					        		
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-xs-4">
     				<label translate="cifra2gestattiApp.rubricaBeneficiario.stato">stato</label>
			<input type="text" class="form-control" name="stato" ng-model="ngModel.stato">
      		</div>
      		<div class="col-xs-8">
      		</div>
      	</div>
      	
      	<hr>
      	
      	<div class="row">
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.cap2">cap2</label>
				<input maxlength="5" ng-class="{'btn-danger': $parent.editForm.cap2.$invalid && !$parent.editForm.cap.$pristine}" ng-pattern="/\b\d{5}\b/" type="text" class="form-control toClear" name="cap2" ng-model="ngModel.cap2">
			</div>				        		
      		</div>
      		<div class="col-xs-8">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.indirizzo2">indirizzo2</label>
				<input type="text" class="form-control" name="indirizzo2" ng-model="ngModel.indirizzo2">
			</div>					        		
      		</div>
      	</div>
      	
      	<div class="row">
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.citta2">città2</label>
				<input type="text" class="form-control" name="citta2" ng-model="ngModel.citta2">
			</div>				        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.provincia2">provincia2</label>
				<input type="text" class="form-control" name="provincia2" ng-model="ngModel.provincia2">
			</div>					        		
      		</div>
      		<div class="col-xs-4">
        	<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.localita2">localita2</label>
				<input type="text" class="form-control" name="localita2" ng-model="ngModel.localita2">
			</div>					        		
      		</div>
      	</div>					        	
	<hr>
      	<div class="row">
      		<div class="col-xs-12">
			<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.quietanzante">quietanzante</label>
				<input type="text" class="form-control" name="quietanzante" ng-model="ngModel.quietanzante">
			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-xs-12">
			<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.iban">iban</label>
				<input type="text" class="form-control" name="iban" ng-model="ngModel.iban">
				<!-- <input maxlength="27" ng-class="{'btn-danger': $parent.editForm.cap2.$invalid && !$parent.editForm.cap.$pristine}" ng-pattern="/\b\S{27}\b/" type="text" class="form-control" name="iban" ng-model="ngModel.iban"> -->
			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-xs-12">
			<div class="form-group">
				<label translate="cifra2gestattiApp.rubricaBeneficiario.modalitaPagamento">modalita</label>
				<input type="text" class="form-control" name="modalitaPagamento" ng-model="ngModel.modalitaPagamento">
			</div>
      		</div>
      	</div>
		<div class="row" ng-show="false">
      		<div class="col-xs-12">
				<div class="form-group" ng-hide="hideAoo" >
					<label translate="cifra2gestattiApp.rubricaBeneficiario.aoo">Ufficio</label>
				 	<select class="form-control" name="aoo"  ng-model="ngModel.aoo" ng-options="aoo as aoo.descrizione+' ('+aoo.codice+')' for aoo in listaAoo track by aoo.id">
				 		<option></option>
				 	</select>
				</div>
			</div>
		</div>
</div>