<div ng-if="parere">	
	<div class="form-group col-md-6">
		<label>Parere Sintetico</label>
		<select ng-init="updateParereQR()" ng-change="updateParereQR()" class="form-control everActive"	name="parereSintetico" ng-model="parere.parereSintetico">
		 	<option ng-repeat="item in listaEsitoPareriQuartieri" ng-value="item.codice" ng-selected="parere.parereSintetico ? parere.parereSintetico == item.codice : false">{{item.valore}}</option>
		 </select>
	</div>

	<div class="form-group col-md-6" ng-if="parere && parere.parereSintetico && parere.parereSintetico.toUpperCase().indexOf('PERSONALIZZATO_')>-1">
		<label>Parere Personalizzato</label> *
		<textarea class="form-control" name="personalizzato" ng-model="parere.parerePersonalizzato" maxlength="100" required></textarea>
	</div>
	
	<div class="form-group col-md-12">
		<label>Note</label>
		<textarea class="form-control" name="parere" ng-model="parere.parere"></textarea>
	</div>


	<div class="form-group col-md-4">
		<label>Data Parere</label>
		<div class="form-group">
			<div class="input-group" style="position:inherit;">
				<input type="text" size="10" onkeydown="return false;" data-date-type="date" ng-model="parere.data" bs-datepicker>
				<div class="input-group-addon" style="padding:0px !important;width:0px;"><button title="Cancella Data" ng-click="parere.data = null;" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-remove"></span></button></div>
			</div>
		</div>
	</div>
	<div class="form-group col-md-4">
		<label>Data Richiesta Effettiva</label>*
		<div class="form-group">
			<div class="input-group" style="position:inherit;">
				<input type="text" size="10" ng-model="parere.dataInvio" data-date-type="date" onkeydown="return false;" bs-datepicker required>
				<div class="input-group-addon" style="padding:0px !important;width:0px;"><button title="Cancella Data" ng-click="parere.dataInvio = null;" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-remove"></span></button></div>
			</div>
		</div>
	</div>
	<div class="form-group col-md-4">
		<label>Data Scadenza</label>*
		<div class="form-group">
			<div class="input-group" style="position:inherit;">
				<input type="text" size="10" ng-disabled="!attoSel.editCommissioniEnable" ng-model="parere.dataScadenza" data-date-type="date" onkeydown="return false;" bs-datepicker required>
				<div class="input-group-addon" style="padding:0px !important;width:0px;"><button title="Cancella Data" ng-click="parere.dataScadenza = null;" class="btn btn-xs btn-link"><span class="glyphicon glyphicon-remove"></span></button></div>
			</div>
		</div>
	</div>


	<div class="row">
	<div class="form-group col-md-12" ng-if="visualizzaAllegati>0 && parere.id && parere.id > 0">
		<label>Allegati parere</label>

		<div ngf-drop ngf-select ngf-multiple="true"
			ngf-change="fileDroppedParere($files, $event, $rejectedFiles, parere)"
			class="drop-box input-group everActive" ngf-drag-over-class="dragover"
			ngf-max-size="ngfMaxSize"> <!-- accept="application/*" > -->
			<h5 data-toggle="tooltip" title="File compatibili per allegati generici: bmp doc docx gif jpg jp2 odg odp ods odt ots ott pdf txt png ppt pptx mpp ps rtf tar tiff wav xls xlsx xml zip eml csv.<br><strong>ATTENZIONE:</strong> Non si possono caricare file .zip contenenti file di tipo zip."
					data-html="true" ng-init="initTooltip()">	<i class="fa fa-upload" ></i> Trascina qui gli allegati parere
				<i class="fa fa-question" ></i>
				<br/><b>{{'cifra2gestattiApp.atto.warnDatiSensibiliAllegati' | translate}}</b>
			</h5>
		</div>
		<div class="progress">
			<div class="progress-bar progress-bar-success progress-bar-striped everActive"
				role="progressbar" aria-valuenow="{{progressPercentage}}"
				aria-valuemin="0" aria-valuemax="100"
				style="width: {{progressPercentage}}">
				<span class="sr-only">{{progressPercentage}}% Complete
					(success)</span>
			</div>
		</div>
		<div ui-tree="allegatiOptions" data-drag-enabled="!solaLettura">
			<ol class="list-group" ui-tree-nodes
				ng-model="parere.allegati" data-type="allegato">

				<li ng-repeat="allegato in parere.allegati" ui-tree-node>

					<div ui-tree-handle class="tree-node tree-node-content row">

						<div class="col-md-1">
							<i data-drag class="fa fa-bars"></i>
						</div>
						
						<label flex data-nodrag class="col-md-10">
							<a target="_blank" class="word-wrap"
							href="api/pareres/allegato/{{allegato.id}}?access_token={{access_token}}">{{allegato.file.nomeFile}}
								({{allegato.file.createdBy}})</a>

						</label>
						<label>Pubblicabile</label> *
							
							<span data-toggle="tooltip"
								title="<b>GUIDA</b><br/>Se l’allegato è <strong>Parte Integrante</strong> impostare a <strong>Si</strong> nel caso in cui l’allegato è da pubblicare altrimenti impostare a <strong>No</strong>."
								data-html="true" ng-init="initTooltip()">
								<i class="fa fa-question" ></i>
							</span>
							<select ng-model="allegato.pubblicabile" class="form-control"     
								ng-options="item.valore as item.label for item in [{valore:true,label:'SI'},{valore:false,label:'NO'}]"
								>
							</select>
						<div data-nodrag class="pull-right col-md-1">
							<button type="button" class="btn btn-danger btn-sm everActive"
								ng-click="deleteAllegatoParere(parere.allegati,$index)"
								data-type="success" data-title="Elimina allegato parere"
								bs-tooltip>
								<i class="fa fa-minus"></i>
							</button>
						</div>

					</div>
				</li>
			</ol>
		</div>

	</div>
	</div>
</div>
