<div class="container-fluid">
<div class="row">
 	<div class="col-md-12" >
 		<hr>
 	</div>
</div>

<div class="row">
 	<div class="col-md-4" align="left">
 	<span class="navbar-version">v{{VERSION}}</span>

 	</div>
 	<div class="col-md-4" align="center">
 		<!-- <button class="btn btn-xs btn-primary everActive" ng-click="goBack()" ng-show="hasBack()"><span class="glyphicon glyphicon-menu-left"></span>Indietro</button> -->
 	</div>
 	<div class="col-md-4" align="right">
 	<h6>
 		<a href="#/guest/notelegali">Note legali</a> - <a href="#/guest/privacy">Privacy</a> - <a href="#/guest/credits">Credits</a> - <a href="#/guest/copyright">Copyright</a> - <a href="#/guest/altrisiti">Altri siti</a> 
 	</h6>
 	</div>
</div>
</div>




