<p style="text-align: center; margin-top:1.0in; color: #000; font-size: 20pt; text-transform: uppercase; padding-bottom: 10px;">    <span style="font-size: 18px; font-weight: bold;">PROVVEDIMENTO DIRIGENZIALE</span></p>
<p></p>
<p></p>
<table width="100%" cellspacing="0" cellpadding="3">
    <tbody>
        <tr>
            <td width="10%"></td>
            <td style="border: 2px solid #000000;">                <p style="text-align: center; margin: 0pt; font-size: 8.5pt; font-weight: bold;">                </p>
                <div>                    &nbsp;Numero: <span th:if="${atto.numeroAdozione !=null}" style="font-weight: bold;">[[${atto.tipoAtto.codice}]]/[[${atto.dataNumerazione.toString("yyyy")}]]/[[${atto.numeroAdozione}]]</span>                </div>
                <div>                    &nbsp;Del: <span th:if="${atto.dataAdozione != null}" style="font-weight: bold;">[[${atto.dataAdozione.toString("dd/MM/yyyy")}]]					</span>                </div>
                <div>                    &nbsp;Proponente: <span th:if="${atto.aoo.descrizione !=null}" style="font-weight: bold;">[[${atto.aoo.descrizione}]]</span>                </div>
            </td>
            <td width="10%"></td>
        </tr>
    </tbody>
</table>
<div>&nbsp;</div>
<p style="font-size: 11pt; padding-bottom: 20px;">    <span style="font-weight: bold;">OGGETTO: <br></span> <span th:utext="${#strings.replace( #strings.escapeXml(atto.oggetto),T(java.lang.System).getProperty('line.separator'),'<br ></span>')}"></span></p>
<div>&nbsp;</div>
<div th:if="${atto.domanda.testo !=null}" th:utext="${atto.domanda.testo}">	<span>+${atto.domanda}</span></div>
<div>	<span><br></span></div>
 <div th:if="${elencoTitoloAllegato!=null}">    <br>    <p><b>ALLEGATI INTEGRANTI</b></p>
    <table style="page-break-inside: avoid;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr th:each="item: ${#lists.sort(elencoTitoloAllegato)}" "="">
                <td style="border: 1px solid #000; border-bottom: 2px solid #000; text-align: left; font-size: 9.5pt; margin: 0; padding: 2pt;">[[${item}]]</td>
            </tr>
        </tbody>
    </table>
    <br>    <br></div>
<br><table style="page-break-inside: avoid;" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="30%"><span style="font-weight: bold;">Firenze, lì</span>&nbsp;<span th:if="${atto.dataCreazione != null}" style="font-size: 16px; font-weight: 700;">[[${atto.dataCreazione.toString("dd/MM/yyyy")}]]</span><br></td>
<td style="text-align: center;" width="70%"><span style="font-weight: bold;">Sottoscritta digitalmente da</span></td>
</tr>
<tr>
<td><br></td>
<td><p th:if="${atto.descrizioneQualificaEmanante!=null}" style="text-align: center; margin: 0pt; font-size: 14.6667px;"><b>[[${atto.descrizioneQualificaEmanante}]]</b></p>
<p style="text-align: center; font-size: 14.6667px;" th:if="${atto.descrizioneQualificaEmanante!=null}"><b>[[${atto.emananteProfilo.utente.nome}]]	[[${atto.emananteProfilo.utente.cognome}]]</b></p>
</td>
</tr>
</tbody>
</table>
<div th:unless="${#lists.isEmpty(movimentiContabiliImpAcc)}">	<div style="text-align: Left; font-size: 11pt; font-weight: bold;">	    <span>Elenco Movimenti</span>	</div>
	<br>    <table>
        <thead>            <tr>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px ; white-space: nowrap;">N°</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Esercizio</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Capitolo</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Articolo</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Impegno/ Accertamento</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Sub Impegno/Sub Accertamento</th>
                <th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Importo</th>
		<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Beneficiario</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mc,item : ${movimentiContabiliImpAcc}">
                <td th:text="${{item.index+1}}+')'" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.esercizio}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.capitolo}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.articolo}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${mc.annoImpacc}+'/'+${mc.numeroImpacc}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.subImpacc}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="'€ '+${mc.importoImpacc}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
		<td th:text="${mc.codDebBen}+' - '+${mc.descCodDebBen}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:unless="${#lists.isEmpty(movimentiContabiliLiquidazione)}">	<div style="text-align: Left; font-size: 11pt; font-weight: bold;">	    <span>Elenco Liquidazioni</span>	</div>
	<br>    <table>
        <thead>            <tr>
            	<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Numero Fattura</th>
				<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Data Fattura</th>
				<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Importo</th>
				<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Soggetto Beneficiario</th>
				<th style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; font-weight: bold; margin: 5px 0 2px 0; padding: 2px; white-space: nowrap;">Impegno</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mc,item : ${movimentiContabiliLiquidazione}">
                <td th:text="${{mc.numero}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.data}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.importo}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${{mc.documento[0].soggettoNome}}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
                <td th:text="${mc.documento[0].impegno.anno}+'/'+${mc.documento[0].impegno.numero}" style="border-bottom: 1px solid #ddd; text-align: right; font-size: 9.5pt; margin: 5px 0 2px 0; padding: 2px;"></td>
            </tr>
        </tbody>
    </table>
</div>
<div th:if="${(atto.adempimentiContabili!=null and atto.adempimentiContabili!='') or (atto.dichiarazioni!=null and !#strings.isEmpty(#strings.trim(atto.dichiarazioni.testo)))}">		<div th:if="${atto.adempimentiContabili !=null and atto.adempimentiContabili.stampa == true}" style="font-family: Calibri; font-size: 11pt; text-align: justify;"><span style="font-weight: bold;"> Note Contabili:		</span><p th:utext="${atto.adempimentiContabili.testo}">+${atto.adempimentiContabili}</p>
	</div>
	<br><table style="page-break-inside: avoid;" th:if="${parereContabile != null}" width="100%" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td width="30%"><span style="font-weight: bold;">Firenze, lì</span>&nbsp;<span th:if="${parereContabile.data != null}" style="font-size: 16px; font-weight: 700;">[[${parereContabile.data.toString("dd/MM/yyyy")}]]</span><br></td>
<td style="text-align: center;" width="70%"><span style="font-weight: bold;">Sottoscritta digitalmente da</span></td>
</tr>
<tr>
<td><br></td>
<td><p style="text-align: center; margin: 0pt; font-size: 14.6667px;"><b>Il Responsabile Contabile</b></p>
<p style="text-align: center; font-size: 14.6667px;"><b>[[${parereContabile.profilo.utente.nome}]] [[${parereContabile.profilo.utente.cognome}]]</b></p>
</td>
</tr>
</tbody>
</table>
			<p style="page-break-before:always; border-bottom:1px dashed #000;"></p>
<div th:if="${(atto.dataEsecutivita!=null)}">	Data Esecutività:		[[${atto.dataEsecutivita.toString("dd/MM/yyyy")}]]</div>
<div th:if="${(atto.dataEsecutivita!=null)}"><br></div>
<div th:if="${(atto.dataEsecutivita!=null)}">	</div>
<div style="text-align: justify;">Elenco Sottoscrittori:</div>
<table style="page-break-inside: avoid;" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr th:each="item: ${#lists.sort(atto.sottoscrittori)}">
                <td>                                        <div style="font-family: Calibri; font-size: 11pt; line-height: 16.5pt;">Firmato digitalmente da  [[${item.profilo.utente.nome}]] [[${item.profilo.utente.cognome}]] il [[${item.dataFirma.toString("dd/MM/yyyy")}]]</div>
                    <br>                </td>
            </tr>
        </tbody>
    </table>
<div style="text-align: justify;"><span style="font-size: 12px;">Le firme, in formato digitale, sono state apposte sull’originale del presente atto ai sensi dell’art. 24 del D.Lgs. 7/3/2005, n. 82 e s.m.i. (CAD). La presente determinazione è conservata in originale negli archivi informatici del Comune di Firenze, ai sensi dell’art.22 del D.Lgs. 82/2005.</span></div>
</div>