<div>

    <h2 translate="cifra2gestattiApp.fattura.home.title">Fattura</h2>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" data-toggle="modal" data-target="#saveFatturaModal" ng-click="clear()">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="cifra2gestattiApp.fattura.home.createLabel">Create a new Fattura</span>
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="saveFatturaModal" tabindex="-1" role="dialog" aria-labelledby="myFatturaLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="editForm" role="form" novalidate ng-submit="save()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myFatturaLabel" translate="cifra2gestattiApp.fattura.home.createOrEditLabel">Create or edit a Fattura</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="fattura.id" readonly>
                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.fattura.numeroRegistro">NumeroRegistro</label>
                            <input type="text" class="form-control" name="numeroRegistro"
                                   ng-model="fattura.numeroRegistro">

                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.fattura.note">Note</label>
                            <input type="text" class="form-control" name="note"
                                   ng-model="fattura.note">

                        </div>

                        <div class="form-group">
                            <label translate="cifra2gestattiApp.fattura.atto">atto</label>
                            <select class="form-control" name="atto" ng-model="fattura.atto.id" ng-options="atto.id as atto.id for atto in attos">
                            </select>
                        </div>
                        <div class="form-group">
                            <label translate="cifra2gestattiApp.fattura.RubricaDestinatarioEsterno">RubricaDestinatarioEsterno</label>
                            <select class="form-control" name="RubricaDestinatarioEsterno" ng-model="fattura.rubricaDestinatarioEsterno.id" ng-options="rubricaDestinatarioEsterno.id as rubricaDestinatarioEsterno.id for rubricaDestinatarioEsterno in rubricadestinatarioesternos">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="editForm.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteFatturaConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="deleteForm" ng-submit="confirmDelete(fattura.id)">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" translate="entity.delete.title">Confirm delete operation</h4>
                    </div>
                    <div class="modal-body">
                        <p translate="cifra2gestattiApp.fattura.delete.question" translate-values="{id: '{{fattura.id}}'}">Are you sure you want to delete this Fattura?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
                        </button>
                        <button type="submit" ng-disabled="deleteForm.$invalid" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	<div>
	    <div class="table-responsive">
	        <table class="table table-striped">
	            <thead>
	                <tr>
	                    <th>ID</th>
	                    <th translate="cifra2gestattiApp.fattura.numeroRegistro">NumeroRegistro</th>
	                    <th translate="cifra2gestattiApp.fattura.note">Note</th>
	                    <th translate="cifra2gestattiApp.fattura.atto">atto</th>
	                    <th translate="cifra2gestattiApp.fattura.RubricaDestinatarioEsterno">RubricaDestinatarioEsterno</th>
	                    <th></th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="fattura in fatturas">
	                    <td><a ui-sref="fatturaDetail({id:fattura.id})">{{fattura.id}}</a></td>
	                    <td>{{fattura.numeroRegistro}}</td>
	                    <td>{{fattura.note}}</td>
	                    <td>{{fattura.atto.id}}</td>
	                    <td>{{fattura.RubricaDestinatarioEsterno.id}}</td>
	                    <td>
	                        <button type="submit"
	                                ui-sref="fatturaDetail({id:fattura.id})"
	                                class="btn btn-info btn-sm">
	                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="showUpdate(fattura.id)"
	                                class="btn btn-primary btn-sm">
	                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
	                        </button>
	                        <button type="submit"
	                                ng-click="delete(fattura.id)"
	                                class="btn btn-danger btn-sm">
	                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>
	    </div>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first']" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="links['prev']" ng-click="loadPage(links['prev'])"><a>&lt;</a></li>
                <li ng-show="page > 2" ng-click="loadPage(page - 2)"><a>{{page - 2}}</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 1)"><a>{{page - 1}}</a></li>
                <li class="active"><a>{{page}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 2}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last']" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
