
<div>
    <h2><span translate="cifra2gestattiApp.cat_obbligo_DL33.detail.title">Cat_obbligo_DL33</span> {{cat_obbligo_DL33.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="entity.detail.field">Field</th>
                    <th translate="entity.detail.value">Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <span translate="cifra2gestattiApp.cat_obbligo_DL33.codice">Codice</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cat_obbligo_DL33.codice}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cifra2gestattiApp.cat_obbligo_DL33.descrizione">Descrizione</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cat_obbligo_DL33.descrizione}}" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cifra2gestattiApp.cat_obbligo_DL33.attiva">Attiva</span>
                    </td>
                    <td>
                        <input ng-if="cat_obbligo_DL33.attiva == true" type="text" class="input-sm form-control" value="Si" readonly>
                        <input ng-if="cat_obbligo_DL33.attiva == false" type="text" class="input-sm form-control" value="No" readonly>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span translate="cifra2gestattiApp.cat_obbligo_DL33.fk_cat_obbligo_macro_cat_obbligo_idx">fk_cat_obbligo_macro_cat_obbligo_idx</span>
                    </td>
                    <td>
                        <input type="text" class="input-sm form-control" value="{{cat_obbligo_DL33.fk_cat_obbligo_macro_cat_obbligo_idx.descrizione}}" readonly>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button type="submit"
            ui-sref="cat_obbligo_DL33"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>
</div>
